POSTGRES_PASSWORD="secret"
POSTGRES_USER="quickTest"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_DATABASE="quickTest"

DATABASE_URL=postgres://quickTest:secret@localhost:5432/quickTest

RABBITMQ_HOST=localhost
RABBITMQ_USER=rabbitmq
RABBITMQ_PASS=rabbitmq
RABBITMQ_PORT=5672

KEYCLOAK_ID=
KEYCLOAK_SECRET=
KEYCLOAK_ISSUER=

NEXTAUTH_SECRET=
NEXT_PUBLIC_BASE_URL=http://localhost:3000